[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DirectEffects"]
	path = DirectEffects
	url = https://github.com/mattblackwell/directeffects
	shallow = true
	registered = true
[submodule "factiv"]
	path = factiv
	url = https://github.com/mattblackwell/factiv
	shallow = true
	registered = true
[submodule "inters"]
	path = inters
	url = https://github.com/mattblackwell/inters
	shallow = true
	registered = true
